* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive; 
}
body{
  background-image: url("./assets/pexels-maxyne-barcel-10402282\ 1.png");
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container{
  background-color: rgba(1, 7, 29, 0.7);
}
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.hero-heading {
  text-align: center;
  color: #ffc233;
  font-size: 120px;
  margin-right: 150px;
  margin-left: 200px;
  line-height: 120px;
}
.logo{
  height: 100%;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  padding-top: 40px;
  gap: 250px;
}
.list{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  gap: 50px;
  color: #ffc233;
}
.button-small{
  font-size: 15px;
  text-align: center;
  background-color: #ff505f;
  color: white;
  border: #ff505f;
  padding: 10px 20px;
}
.button-large{
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 30px;
  background-color: #ff505f;
  color: white;
  border: #ff505f;
  padding: 10px 50px;
} 
.bottom{
  margin-left: 1200px;
  height: 0%;
  margin-top: -50px;
}